.tabber {
	position: relative;
	height: 100%;
	/* background-color: #a0a0a0; */
}

.tabbertab {
	float: left;
}

.tabbertab h3 {
	font-size: 1em;
	height: 15px;
	min-width: 100px;
	margin-top: 2px;
	margin-right: 2px;
	padding: 10px 10px 2px 5px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor:pointer;
}

.tabber .tabbertab_active h3 {
	border: 1px solid #e0e0e0;
	background-color: #fefefe;
	border-bottom-color: #fefefe;
	margin-top: 0px;
	height:17px;
}

.tabber .tabbertab_inactive h3 {
	border: 1px solid #333;
	border-bottom-color: #777;
	background-color: #777;
	color: #ddd;
}

.tabber .hovertab h3 {
	margin-top: 0px;
	height:17px;
}

.tabber #tabcontent {
	clear: both;
	min-height: 60px;
	overflow: auto;
	padding: 5px;
	background-color: #fefefe;
	border: 1px solid #e0e0e0;
	position: relative;
}

.tabber .nodisplay {
	display: none;
}
