label, input {
	display: inline-block;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

fieldset {
	padding:0;
	border:0;

}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
}

.ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
	background: none !important;
}

.ui-dialog-buttonpane .ui-modaldialog-buttonset {
	float: right;
}

.ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
